# Byte-compiled / optimized / DLL files
__pycache__/

#settings
*settings.py
*config.py

#session
*.session

#db
postgres/

#jupyther
*.ipynb*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

images_storage/

# Environments
.idea
.env
.venv
env/
venv/

